extends layout

block content
  h1#carpet Carpet
  span a simple static blog engine

  #article-wrapper
    each article in articles
      .article
        a(href='/article/' + article.url)
          h3.title= article.title
        span.date= article.date
        if article.tags
          ul.tags
            each tag in article.tags
              li.tag= tag
